[Unit]
Description=Watchcat Monitoring tool for SNUCSE machines
After=network.target

[Service]
Type=simple
Environment="HOME=/opt/watchcat-client"
ExecStart=/opt/watchcat-client/bin/client foreground
ExecStop=/opt/watchcat-client/bin/client stop
Restart=always

[Install]
WantedBy=multi-user.target
